@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@100;200;300;400 & display=swap');

@font-face {
    font-family: 'mono';
    src: url(../fontes/MonoSpatial.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'sono';
    src: url(../fontes/Sono-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'lemon';
    src: url(../fontes/LEMONMILK-Bold.otf) format('opentype');
    font-weight: normal;
}



:root {
    --cor0: #DFE9F2;
    --cor1: #118CD9;
    --cor2: #117CD9;
    --cor3: #1540BF;
    --cor4: #090E73;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'lemon', cursive; 
    --fonte-navegação: Arial, Helvetica, sans-serif;
    --fonte-navegação-pc: 'sono', Arial, Helvetica, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}


html {
    scroll-behavior: smooth;
}

h1 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.404);
}

header {
    position: fixed;
    height: 60px;
    width: 100vw;
    background-color: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.377);
}

header > nav {
    text-align: center;
    padding-top: 21px;

}

header > nav > a {
    font-family: var(--fonte-navegação);
    color: var(--cor2);
    text-decoration: none;
    padding: 0px 2px 0px 2px;
    font-size: .9em;
}

header > nav > p {
    display: inline;
    color: var(--cor2);
}

img.fundo-tech-blend {
    width: 100%;
    margin-top: 60px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

article.parte-inicial {
    height: 100vh;
}

article.parte-inicial > h1 {
    font-family: var(--fonte-destaque);
    color:  var(--cor2);
    padding: 80px 20px 20px 20px    ;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}

article.parte-inicial > div#linha-reta {
    background-color: var(--cor2);
    margin: auto;
    height: 2px;
    width: 315px;
}

article.parte-inicial > p {
    font-family: var(--fonte-padrao);
    padding: 20px 35px 0px 35px;
    text-align: center;
    font-size: 1.2em;
}

.qualidades-nossas-1 {
    display: flex;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.qualidades-nossas-2 {
    display: flex;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.segurança, .qualidade, .inovação, .atendimento {
    font-size: 1.2em;
    padding: 20px 30px 0px 30px;
}

.qualidades-pagina-inicial {
    display: none;
}

.parte-demonstrações {
    background-color: var(--cor2);
    height: 100vh;
    width: 100%;
    margin-top: 130px;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.452);
}

.parte-demonstrações > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    text-align: center;
    padding-top: 80px;
    font-size: 1.9em;
}

.parte-demonstrações > .powerpoints {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.parte-demonstrações img {
    width: 130px;
    padding: 70px 20px 10px 20px;
}

.link-download-ppt > a {
    display: inline;
    font-family: var(--fonte-padrao);
    background-color: var(--cor3);
    font-size: .7em;
    padding: 8px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.541);
}

.link-download-ppt > a:hover {
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
}

.parte-demonstrações > p {
    color: white;
    padding: 60px 50px 0px 50px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
}

.parte-sobre-nos {
    width: 100%;
    height: 1050px;
    font-family: var(--fonte-padrao);
}

.parte-sobre-nos > h1 {
    font-family: var(--fonte-destaque);
    text-align: center;
    padding: 80px 40px 10px 40px;
    color: var(--cor2);
    font-size: 2em;
}

.parte-sobre-nos > h2 {
    color: var(--cor1);
    font-size: 2em;
    padding: 10px 5px 5px 20px; 
}

.parte-sobre-nos > h3 {
    padding: 20px;
    font-size: 1em;
}

.parte-sobre-nos > p {
    padding: 20px 20px 5px 20px;
    text-indent: 20px;
}

article.parte-duvidas {
    background-color: var(--cor2);
    width: 100%;
    height: 100%;
    margin-top: 200px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.418);
}

article.parte-duvidas > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 80px 50px 40px 50px;
}

.parte-duvidas > .perguntas-frequentes > h2 {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.4em;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}

.parte-duvidas > .perguntas-frequentes > .contatos > p {
    color: white;
    font-family: var(--fonte-padrao);
    padding: 0px 0px 20px 50px;
    
}

.parte-duvidas > .perguntas-frequentes img {
    width: 20px;
    padding-right: 5px;
}

.parte-duvidas > .perguntas-frequentes > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding: 10px 20px 30px 20px;
}