@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@100;200;300;400 & display=swap');

@font-face {
    font-family: 'mono';
    src: url(../fontes/MonoSpatial.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'sono';
    src: url(../fontes/Sono-Regular.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'lemon';
    src: url(../fontes/LEMONMILK-Bold.otf) format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #DFE9F2;
    --cor1: #118CD9;
    --cor2: #117CD9;
    --cor3: #1540BF;
    --cor4: #090E73;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'lemon', cursive; 
    --fonte-navegação: Arial, Helvetica, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    position: fixed;
    height: 60px;
    width: 100vw;
    background-color: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.377);
}

header > nav {
    text-align: center;
    padding-top: 21px;

}

header > nav > a {
    font-family: var(--fonte-navegação);
    color: var(--cor2);
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    font-size: 1em;
}

header > nav > p {
    display: inline;
    color: var(--cor2);
}

img.fundo-tech-blend {
    width: 100vw;
    margin-top: 60px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
}

article.parte-inicial {
    height: 100vh;
}

article.parte-inicial > h1 {
    font-family: var(--fonte-destaque);
    color:  var(--cor2);
    padding: 80px 20px 20px 20px    ;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}

article.parte-inicial > div#linha-reta {
    background-color: var(--cor2);
    margin: auto;
    height: 2px;
    width: 315px;
}

article.parte-inicial > p {
    font-family: var(--fonte-padrao);
    padding: 20px 35px 0px 35px;
    text-align: center;
    font-size: 1.2em;
}

.qualidades-nossas-1 {
    display: flex;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.qualidades-nossas-2 {
    display: flex;
    font-family: var(--fonte-padrao);
    color: var(--cor2);
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.segurança, .qualidade, .inovação, .atendimento {
    font-size: 1.2em;
    padding: 20px 30px 0px 30px;
}

.parte-demonstrações {
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.452);
}

.parte-demonstrações > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 1.9em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.486);
}

.parte-demonstrações > .powerpoints {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

.parte-demonstrações img {
    width: 160px;
    padding: 70px 20px 10px 20px;

}

.link-download-ppt > a {
    display: inline;
    font-family: var(--fonte-padrao);
    background-color: var(--cor3);
    font-size: .8em;
    padding: 8px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.link-download-ppt > a:hover {
    background-color: var(--cor1);
    border: 1px solid var(--cor0);
}
